* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
}

.time-select {
  position: absolute;
  width: 346px;
  height: 62px;
  border-radius: 2px;
  border: 2.75px solid hsla(268, 75%, 44%, 1);
  padding: 0px, 0px, 0px, 20px;
  gap: 143px;
  background-color: hsla(0, 0%, 98%, 1);
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 32px;
  color: hsla(0, 0%, 0%, 0.87);
  padding-left: 16px;
  line-height: 30px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.drop-down {
  position: relative;
  left: 297px;
  width: 48px;
  height: 60px;
  top: 1px;
  border: 1px solid hsla(268, 75%, 44%, 1);
  background-color: hsla(268, 58%, 55%, 1);
  pointer-events: none;
}

.time-select:focus {
  border: 2.75px solid hsla(268, 75%, 44%, 1);
}

.recording-content {
  display: flex;
  border: 1px solid black;
  width: 834px;
  height: 1117px;
  padding-left: 63px;
}

.select-flex {
  display: flex;
  border: 1px solid black;
  height: 1117px;
  width: 707px;
}

.part-time {
  padding-left: 313px;
}
