*,
*,
::before,
::after {
  box-sizing: border-box;
}

.index-body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.mobile-options {
  position: absolute;
  opacity: 0;
}

.header-index {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.lobby-index,
.under-heading {
  margin-left: 20%;
}

.lobby-index {
  font-size: 1.75rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: hsla(268, 75%, 44%, 1);
}

.under-heading {
  margin-top: 0;
}

.content-index {
  height: 600px;
  padding-top: 5rem;
  margin-right: 10%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.buttons-index {
  width: 100%;
  height: 105px;
  text-align: center;
  border: 1.75px solid hsla(268, 75%, 44%, 1);
  border-radius: 2px;
  padding: 14px, 86px, 14px, 86px;
  background-color: white;
  box-shadow: 3.5px 3.5px hsla(268, 75%, 44%, 1);
  color: hsla(268, 75%, 44%, 1);
  font-size: 2.5rem;
}

.buttons-index:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header-index {
    padding-top: 10rem;
    padding-bottom: 0;
  }

  .mobile-options {
    position: absolute;
    top: 47%;
    opacity: 1;
  }

  .lobby-index,
  .under-heading {
    margin-left: 0;
  }

  .content-index {
    grid-template-columns: 1fr;
    height: 300px;
    margin: auto;
    margin-top: 20%;
    gap: 0;
    padding-top: 0;
  }

  .buttons-index {
    margin-top: 0;
    height: 48px;
    margin-bottom: 0;
  }
}
